/* allgemeine Stilvorgaben */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    background-image: url("https://wallpaperaccess.com/full/1105251.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Styling für den Header */

header {
    background-color: #f2f2f2;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

h1 {
    font-size: 36px;
    margin: 0;
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

/* Styling für die Abschnitte im Hauptbereich */

main {
    margin-top: 100px;
    padding: 40px;
}

h2 {
    font-size: 24px;
    margin: 0 0 20px;
}

section {
    margin-bottom: 40px;
}

ul li {
    margin-bottom: 10px;
}

/* Styling für den Footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
